nav{
    color:#fff;
    /* background-color: #333; */
    width:100%;
position: fixed;
display:flex;
align-items: center;
justify-content: space-between;
top:0;
left:0;
padding:4px 0;
z-index:10;
}
.logo{
    width:180px;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin:5px 20px;
    font-size:16px;

}
.btn {
    background: #fff;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}
 .dark-nav{
background: #212EA0;
transition: 0.5s;
 }

.menu-icon{
display:none;
}

/*MEDIA QUERIES*/
/*for resposiveness nav bar*/

@media(max-width:1000px){
.logo{
    width:140px;
}
nav ul li{
    margin:10px 15px;
}
}
@media(max-width:840px){
nav{
    padding:15px 0;
}
nav ul{
    position: fixed;
    top:0;
     right:-200px;/*this is toogle show or not */
    bottom:0;
    background: #212EA0;
    z-index:-1;
    width:200px;
    padding-top:70px;
    transition:0.5s;
}
nav ul li{
    display:block;
    margin:25px 40px;
}
/* //this is toogle effect the menu */
.menu-icon{
    display:block;
    cursor:pointer;
    width:30px;
}
.hide-mobile-menu{
    right:-200px;
}
.mobile-menu {
    right: 0;
}
}