@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Montserrat", sans-serif;
}
body{
  background: #f5f5f5;
}
a{
  text-decoration: none;
  color:inherit;
  line-height:1;
  cursor:pointer;
}
.container{
padding-left: 10%;
padding-right: 10%;
}
.btn{
  background:#fff;
  color:#212121;
  padding:14px 25px;
  border-radius:30px;
  cursor:pointer;
  border:0;
  outline:0;
  display:inline-flex;
  justify-content: center;
  align-items:center;
}
.btn img{
 width:20px;
 margin-left:10px;
}
.btn.dark-btn{
background: #212ea0;
color:#fff;}


 /*MEDIA QUERIES*/
 @media(max-width:1200px) {
   .container {
     padding-left: 5%;
     padding-right: 5%;
   }

   .btn {
     padding: 14px 22px;
   }
 }